.outerDiv{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 3px;
    margin-top:3px;
}
.childDiv{
    margin-left: 15px;
}

.customFooter{
    background-color:lightgray;
    margin:0px;
}