.outerDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3px;
  margin-top: 3px;
}
.childDiv {
  margin-left: 15px;
}

.customFooter {
  background-color: lightgray;
  margin: 0px;
}
.postCard{
  margin-top: 15px;
  margin-bottom: 15px;
}
.customTagStyle{
  margin: 0px 3px;
}
.reactions{
  width:100%;
}

.formClass{
  width:500px;
}